<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/static/heatmap/build/heatmap.js"></script>
        <script src="/static/visualization.js"></script>
    </head>
    <body>
        <div class="title">
            SmartSocket Prosthetist UI
        </div>

        <div id="heatmapContainer">
            <div id="heatmap"></div>
        </div>

        <div id="status">
            <div class="subtitle">Current Status:</div>
            <iframe class="statusIFrame" width="450" height="200" frameborder="0" src="http://api.thingspeak.com/channels/17805/status/recent"></iframe>
        </div>

        <div id="graphs">
        <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="http://api.thingspeak.com/channels/17805/charts/1?width=450&height=260&results=20&dynamic=true&title=Sensor%201" ></iframe>

        <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="http://api.thingspeak.com/channels/17805/charts/2?width=450&height=260&results=60&dynamic=true&title=Sensor%202" ></iframe>

        <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="http://api.thingspeak.com/channels/17805/charts/3?width=450&height=260&results=60&dynamic=true&title=Sensor%203" ></iframe>

        <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="http://api.thingspeak.com/channels/17805/charts/4?width=450&height=260&results=60&dynamic=true&title=Sensor%204" ></iframe>

        <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="http://api.thingspeak.com/channels/17805/charts/5?width=450&height=260&results=60&dynamic=true&title=Sensor%205" ></iframe>

        <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="http://api.thingspeak.com/channels/17805/charts/6?width=450&height=260&results=60&dynamic=true&title=Sensor%206" ></iframe>
        </div>


        <a id="csvButton" href="https://api.thingspeak.com/stream/channels/17805/feeds?api_key=D6QJVBI8TE96ONRK">
            Download Data as CSV
        </a>
    </body>
</html>
