<iframe width="450" height="260" style="border: 1px solid #cccccc;" src="http://api.thingspeak.com/channels/17805/charts/1?width=450&height=260&results=60&dynamic=true" ></iframe>

<iframe width="450" height="260" style="border: 1px solid #cccccc;" src="http://api.thingspeak.com/channels/17805/charts/2?width=450&height=260&results=60&dynamic=true" ></iframe>

<iframe width="450" height="260" style="border: 1px solid #cccccc;" src="http://api.thingspeak.com/channels/17805/charts/3?width=450&height=260&results=60&dynamic=true" ></iframe>

<iframe width="450" height="260" style="border: 1px solid #cccccc;" src="http://api.thingspeak.com/channels/17805/charts/4?width=450&height=260&results=60&dynamic=true" ></iframe>
